body{
    background-color:gray;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
 }


 .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 20px;
    width:100%;
    top:0;
    left:0;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }


  header{
    background-color: darkred;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
      }
    
      .card{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 4rem;
        width: 90%;
        margin-left: 5%;
      }
    
  .card-content{
    text-align: center;
     }
   
     .card-body{
   border: 2px solid black;
   box-shadow:blueviolet;
   width: 30rem;
   height: 30rem;
   border-radius:1rem;
   overflow: hidden;
   transition:all 400ms ease;
     }
   
     .card-body:hover{
       margin-top: -0.5rem;
       background-color: white;
       border: 2px solid orangered;
     }

     .card-image img{
        width: 100%;
        height: 25rem;
         }
        
        .inputBox{
            display: flex;
            justify-content: space-between;
        }
        
        .container{
          width:80%;
          margin-left: 10%;
          display: grid;
          grid-template-columns: 1fr 1fr ;
          gap: 2rem;
        }
